<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
    <input name="comment" type="text" data-id="{{id}}" value="{{comment_text}}" />
    <button type="button" class="edit-comment-btn">Edit</button>
    <button type="button" class="delete-comment-btn">Delete</button>

    </div>
  </section>
  {{/each}}
</div>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>