<div class="comments">
  {{#each this}}
  <section class="comment">
    <div class="meta">
      {{user.username}} on {{format_date created_at}}
    </div>
    <div class="text">
    <input name="comment" type="text" value="{{comment_text}}" />
    <button type="submit">Edit</button>
    <button type="button" class="delete-comment-btn">Delete</button>

    </div>
  </section>
  {{/each}}
</div>

