

<ol class="post-list mt-3">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<div class="mt-5 mb-2">
<a href="/dashboard/add-post"><button id="add-post">+ New Post</button></a>
</div>