

<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    {{> post-info post }}
  </li>
  {{/each}}
</ol>

<div class="mt-5">
<a href="/dashboard/add-post"><button id="add-post">+ New Post</button></a>
</div>