/* main body styling */

* {
  box-sizing: border-box;
  text-align: center;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: rgb(71, 73, 163);
}

a, h2, h4 {
  text-decoration: none;
  color: #8e3cc4;
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: #3486eb;
}

h2 a:hover {
  color: #3486eb;
  text-decoration: none;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #a93cc4;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  padding: 5px 1%;
}

main {
  flex: 1;
  padding: 2% 4%;
}

textarea, .textarea, .mb-3 {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(197, 188, 188);
  min-width: 100%;
}

.textarea {
  height:100px;
}

input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid rgb(197, 188, 188);
  min-width: 100%;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

.login, .signup {
  min-width: 50%;
}

/* post styling */

.your-post-margin {
  margin-left: 14px;
}

.post-list {
  margin: 0;
  padding: 0;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

/* comment styling */

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fbfafc;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.border {
  border: transparent;
}

.border:focus {
  color: #3f3e41;
  background-color: rgb(234, 223, 240);

}

/* btn styling */

button {
  background-color: #6a40ad;
  border: 0;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.edit-comment-btn {
  background-color: transparent;
  color: #3486eb;
}

.edit-comment-btn:hover {
  background-color: #3486eb;
  color: #ffffff;
}

.delete-comment-btn {
  background-color: transparent;
  color: #ff643d;
}

.delete-comment-btn:hover {
  background-color: #ff643d;
  color: #ffffff;
}

/* footer */

footer {
  border-top: 1px solid #a93cc4;
  display: flex;
  justify-content: center;
  font-size: 90%;
}